.profileHeader {
  display: flex;
  justify-content: flex-start;
  padding: 20px 40px;
  background-color: #ccc;
  margin-bottom: 50px;
}

.bio {
  display: flex;
  flex-flow: column;
  margin: 10px 20px;
}

.bio > h2 {
  font-size: 40px;
}

.bio > h3, p {
  font-size: 16px;
  max-width: 500px;
}

.bio > p {
  margin: 20px 0;
}

.bio > h3 {
  font-size: 16px;
  color: gray;
}

.profileHeader > img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.personal {
  text-align: center;
  margin: 20px 20px;
  margin-left: 40px;
}

.personal h2 {
  font-weight: bolder;
  font-size: 30px;
}

.personal p {
  font-weight: bold;
  font-size: 16px;
}