.main {
  display: flex;
  flex-flow: column;
  width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.main h1 {
  font-size: 30px;
  font-weight: bolder;
  color: purple;
  margin: 10px 0 50px 0;
}

.main label {
  font-size: 22px;
  color: #666;
}

.main input {
  border-bottom: 1px solid gray;
  width: 200px;
  text-align: center;
  margin: 10px auto;
}

.main input:focus {
  outline: none;
}

.main button {
  font-size: 26px;
  position: relative;
  margin-top: 50px;
  color: white;
  width: 160px;
  height: 60px;
  margin: 0 auto;
  background-color: rebeccapurple;
}